footer {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1em;
    bottom:0;
    position: absolute;
    width: 100%;
}
